body{
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: rgb(37, 36, 36);
}
.logo{
    margin-left: 30px;
}
.search{
    background-color: red;
    width: 250px;
    height: 38px;
    align-items: center;
    background-color: rgb(180, 177, 177);
    border-radius: 7px;
    margin: 18px auto;
}
.search-img{
    position: relative;
    top: 5px;
    left: 50px;
}
.search-input::placeholder{
color: rgb(218, 207, 207);
}
.limited{
    width: 116px;
    height: 25px;
    border-bottom:3px solid rgb(162, 210, 92);
    margin-top: 26px;
    margin-left: -20px;
    position: relative;
    right: 35px;
}
.limited h3{
    margin-top: -1px;
    color: gray;
}
.one,.two{
    display: flex;
}
.two{
    justify-content: center;
    align-items: center;
}
.nav-item{
    color: rgb(180, 177, 177);
    margin:0px 30px;
    margin-bottom: 14px;
    cursor: pointer;
}